<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="white button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
<ion-side-menu side="left">
  <ion-header-bar class="bar-stable">
    <h1 class="title text-center">Menu</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list class="lista-menu">
      <ion-item menu-close href="#/app/productos">
        <i class="material-icons">search</i><span class="texto-icono"> Productos</span>
      </ion-item>
      <ion-item menu-close href="#/app/contact">
        <i class="material-icons">contacts</i> <span class="texto-icono">Contacto</span>
      </ion-item>
      <ion-item menu-close href="#/app/micarrito">
        <i class="material-icons">shopping_cart</i><span class="texto-icono"> Mis Carros</span>
      </ion-item>
      <ion-item menu-close href="#/app/seguimientos">
        <i class="material-icons">thumbs_up_down</i> <span class="texto-icono">Mis Seguimientos</span>
      </ion-item>
      <ion-item menu-close href="#/app/scanner">
        <i class="material-icons">party_mode</i><span class="texto-icono"> Escaner</span>
      </ion-item>
      <ion-item menu-close href="#" ng-click="closeSession()">
        <i class="material-icons">power_settings_new</i> <span class="texto-icono">Cerrar Session</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu>
</ion-side-menus>
