
<ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Registro</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Salir</button>
      </ion-header-bar>
      <ion-content class="padding">
          <form name="registro">

                  <label class="padding item item-input item-floating-label" for="nombre">
                      <span class="input-label">Nombre</span>
                      <input type="text" name="nombre" id="nombre" placeholder="Nombre" required ng-model="register.nombre">
                  </label>
                  <label class="padding item item-input item-floating-label" for="apellidos">
                      <span class="input-label">Apellidos</span>
                      <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required ng-model="register.apellidos">
                  </label>
                  <label class="padding item item-input item-floating-label" for="telefono">
                      <span class="input-label">Telefono</span>
                      <input type="tel" name="telefono" id="telefono" maxlength="9" placeholder="Telefono" required ng-model="register.telefono">
                  </label>
                  <label class="padding item item-input item-floating-label" for="email">
                      <span class="input-label">Email</span>
                      <input type="email" name="email" id="email" placeholder="Email" required ng-model="register.email">
                      <div class="padding">
                          <p ng-show="registro.email.$error.required">El email es obligatorio</p>

                  </div>
                  </label>
                  <label class="padding item item-input item-floating-label" for="password">
                      <span class="input-label">Password</span>
                      <input type="password" name="password" id="password" placeholder="Contraseña" required ng-model="register.password">
                      <div class="padding">
                          <p ng-show="registro.password.$error.required">La contraseña es obligatoria</p>

                  </div>
                  </label>
                  <label class="item item-input item-select" for="localidad">
                    <div class="input-label">
                        Localidad
                      </div>
                      <ion-select id="localidad" required ng-model="register.idLocalidad">
                          <ion-option ng-repeat="localidad in localidades" value={{localidad.id}}>{{localidad.nombre}}</option>
                      </select>
                  </label>
                  <button ng-disabled="registro.$invalid" class="button button-block button-positive" ng-click="registro()">
                    Entrar
                  </button>

          </form>
      </ion-content>
    </ion-modal-view>
