<ion-modal-view >
   <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title">HISTORIAL</h1>
     <div class="buttons">
        <button class="button" ng-click="closeModal()">Salir</button>
      </div>
   </ion-header-bar>
  <ion-content>
    <h2 ng-show="productos[indexProducto].productoTiendas.length == 0" class="tituloSinResultado">No hay ninguna tienda</h2>
    <ion-list>
      <ion-item class="item itemModalSeguimiento" ng-repeat="producto in productos[indexProducto].productoTiendas">
        <div class="infoModalSeguimiento">
          <h2>{{producto.tienda.empresa.nombre}}</h2>
          <p>{{producto.tienda.direccion}}</p>
       </div>
       <div class="precioModalSeguimiento">
         <p>{{producto.precio}} €</p>
       </div>
       <div class="infoPrecioModalSeguimiento">
         <button class="button-assertive botonCarroAccion verCarro"
                  ng-click="openModalHistorial($index)">
           <i class="material-icons">search</i>
         </button>
       </div>
 </ion-item>
    </ion-list>

  </ion-content>
</ion-modal-view>
