<ion-view view-title="Registro">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
      <div class = "list">
        <form name="registro" ng-submit="doRegistro()">
                <label class="padding item item-input" for="nombre">

                    <input type="text" name="nombre" id="nombre" placeholder="Nombre"  ng-model="register.nombre">
                </label>
                <label class="padding item item-input" for="apellidos">

                    <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos"  ng-model="register.apellidos">
                </label>
                <label class="padding item item-input" ng-class="{'inputError':errorTelefonoRegistro}" for="telefono">

                    <input type="tel" name="telefono"  id="telefono" maxLength="9" placeholder="Telefono"  ng-model="register.telefono">
                      <p ng-show="errorTelefonoRegistro">El telefono no es valido</p>
                </label>
                <label class="padding item item-input" ng-class="{'inputError':errorEmailRegistro}" for="email">

                    <input type="email" name="email" id="email" placeholder="Email" required="required" ng-model="register.email">
                      <p ng-show="errorEmailRegistro">El email ya esta siendo utilizado</p>
                </label>
                <label class="padding item item-input" for="password">

                    <input type="password" name="password" id="password" placeholder="Contraseña" required="required" ng-model="register.password">
                </label>
                <label class="item item-input item-select selectPadding" ng-class="{'inputError':errorLocalidadRegistro}" >

                  Localidad
                      <select id="localidad" ng-model="register.idLocalidad">
                        <option ng-repeat="localidad in localidades" value={{localidad.id}}>{{localidad.nombre}}</option>
                    </select>
                </label>

                <button type="submit" class="button button-block button-positive">
                    Registrate
                </button>

              </div>
        </form>
    </ion-content>
</ion-view>
