<ion-view view-title="Registro">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="list">
            <form name="registro">
                <label class="padding item item-input" for="nombre">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required
                           ng-model="register.nombre">
                </label>
                <label class="padding item item-input" for="apellidos">
                    <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required
                           ng-model="register.apellidos">
                </label>
                <label class="padding item item-input" for="telefono">
                    <input type="tel" name="telefono" id="telefono" maxlength="9" placeholder="Telefono" required
                           ng-model="register.telefono">
                </label>
                <label class="padding item item-input" for="email">
                    <input type="email" name="email" id="email" placeholder="Email" required ng-model="register.email">
                </label>
                <label class="padding item item-input" for="password">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required
                           ng-model="register.password">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label" for="localidad">Localidad</div>
                    <select id="localidad" required ng-model="register.idLocalidad">
                        <option ng-repeat="localidad in localidades" value={{localidad.id}}>{{localidad.nombre}}
                        </option>
                    </select>
                </label>
                <input type="submit" id="submit" value="filtrar"/>
        </div>
        </form>
    </ion-content>
</ion-view>
