<ion-view view-title="login">
  <ion-content>
    <form ng-submit="login()">
      <div class="list list-inset ">
  <label class="padding item item-input" for="email">
    <input type="email" name="email" id="email" placeholder="Email" required ng-model="loginData.email">
  </label>
  <label class="padding item item-input">
    <input type="password" name="password" id="password" placeholder="Contraseña" required ng-model="loginData.password">
  </label>
  <button class="button button-block button-positive" ng-click="login()">
    Entrar
  </button>
<p class="text-center">No tienes cuenta? <a  href="#/registro" class="button-balanced">registrate</a></p>
</div>
    </form>

  </ion-content>
</ion-view>
