<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Informacion</h1>
        <div class="buttons">
            <button class="button" ng-click="closeCarroModal()">Salir</button>
        </div>
    </ion-header-bar>
    <ion-content>
      <h2 ng-show=" carros.length == 0" class="tituloSinResultado">No hay ningun carro</h2>

        <ion-list>
            <ion-item class="item itemCarro" ng-repeat="carro in carros" ng-click="anadirProductoACarro(carro.id,$index)">
                <img src="../../img/carrito.svg">
                <p class="nombreCarro">{{carro.nombre}}</p>
                <p class="precioCarro">{{carro.precioTotal}} €</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-modal-view>
