<ion-view view-title="Productos" class="bar-asserive">
    <ion-nav-buttons side="right">
      <div class="botonesDerechaMenu">
        <i class="material-icons icono-menu-opciones" ng-click="goTo('/app/filtrar')" id="filtrado">build</i>
        <i class="material-icons icono-menu-opciones" ng-click="openSubmenu($event)" id="ordenacion">format_list_bulleted</i>
      </div>
    </ion-nav-buttons>
    <ion-content>
      <h2 ng-show="productos.length == 0" class="tituloSinResultado">No hay ningun producto</h2>
        <ion-list>
            <div ng-repeat="producto in productos" class="item mdl-cell--2-col itemProducto">
                <div class="demo-card-wide">
                    <div class="mdl-card__title">
                    </div>
                    <div class="mdl-card__supporting-text">
                        <h2>{{producto.nombre}}</h2>
                        <p class="infoProducto"><i class="material-icons">account_balance_wallet</i> <span class="texto-icono"> {{producto.mejorPrecio}} €</span></p>
                        <p class="infoProducto"><i class="material-icons ">business</i><span class="texto-icono textoNumTiendas">{{producto.productoTiendas.length}}</span></p>
                        <p class="infoProducto"><i class="material-icons">star_rate</i> <span class="texto-icono"> {{producto.valoracionTotal}}</span> </p>
                    </div>
                    <div class="cajaAccionProductos">
                      <button class="botonAccionProductos mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                              ng-click=openModal($index)><i class="material-icons">search</i></button>
                      <button class="botonAccionProductos mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                              ng-click="seguimientoManager(producto.id,$index)"><i class="material-icons">{{producto.seguimientoImg}}</i>
                      </button>
                      <button class="botonAccionProductos mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                              ng-click=openModalMap($index)><i class="material-icons">place</i></button>
                  </div>
                    </div>
                    <!--
                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                ng-click=openModal($index)><i class="material-icons">search</i></button>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                ng-click="seguimientoManager(producto.id,$index)"><i class="material-icons">forward</i>
                        </button>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                                ng-click=openModalMap($index)><i class="material-icons">place</i></button>
                    </div>
                  -->
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
