
<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Informacion</h1>
        <div class="buttons">
            <button class="button" ng-click="closeModal()">Salir</button>
        </div>
    </ion-header-bar>
    <ion-content>
      <div class="item item-divider">
          {{productos[indexProducto].nombre}}
      </div>
            <img class="imagenProductoModal" src="../../img/transparent.jpg">
        <div class="item item-divider">
            Valoracion
        </div>
          <p class="valoracionProductoModal">{{productos[indexProducto].valoracionTotal}}</p>
          <button ng-show="productos[indexProducto].verBotonValorar" class="botonValorarProducto button button-positive button-small button-outline" ng-click="popupValoracion(indexProducto)">Valorar</button>
        <div class="item item-divider">
            Informacion nutricional
        </div>
        <table>
            <thead>
            <tr>
                <th>Valor calorico</th>
                <th>Hidratos de carbono</th>
                <th>Proteinas</th>
                <th>Grasas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{productos[indexProducto].valorEnergetico}}</td>
                <td>{{productos[indexProducto].carbohidratos}}</td>
                <td>{{productos[indexProducto].proteinas}}</td>
                <td>{{productos[indexProducto].grasas}}</td>
            </tr>
            </tbody>
        </table>
        <div class="item item-divider">
            Tiendas
        </div>
        <ion-list>
            <ion-item class="item tiendaProducto" ng-repeat="productoTienda in productos[indexProducto].productoTiendas">
                <p><i class="material-icons">business</i><span class="texto-icono textoNumTiendas">{{productos[indexProducto].productoTiendas.tiendas[$index].empresa.nombre}}</span></p>
                <p><i class="material-icons ">room</i> <span class="texto-icono ">{{productos[indexProducto].productoTiendas.tiendas[$index].direccion}}</span></p>
                <p><i class="material-icons">account_balance_wallet</i> <span class="texto-icono">{{productoTienda.historialPrecio.precio}} €</span></p>
                    <button class="button-normal botonProductoCarro"
                            ng-click="openCarroModal(productoTienda.id)">
                        <i class="material-icons">add_shopping_cart</i>
                    </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
